.chainsawRevealer-container{
    display: flex;
    align-items: center ;
    justify-content: center;
}

#chainsawRevealer-front-circle{
    background-color: rgb(0, 0, 0);
    width: 122px;
    height: 122px;
    border-radius: 50%;
    z-index: 1;
    transition: 1s ease-out;
    /* transform-origin: right; */
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0%;
    top: 0;

    border-style: solid;
    border-color: rgb(255, 255, 255,0);
    border-width: 2px;

}

.chainsawRevealer-front-text{
    font-size: small;
    font-weight: 600;
    align-self: center;
    transition: 1s ease-out;
    position: absolute;
    
    
}

.chainsawRevealer-back-text{
    color: rgba(255, 255, 255, 0);
    font-size: small;
    font-weight: 600;
    align-self: center;
    transition: 1s;

}

#chainsawRevealer-front-circle:hover{
    transform: rotate(720deg);
    border-color: rgb(255, 255, 255,1);
}


#chainsawRevealer-front-circle:hover > .chainsawRevealer-back-text {
    color: rgb(255, 255, 255,1);
}

#chainsawRevealer-front-circle:hover > .chainsawRevealer-front-text {
    color: rgb(221, 19, 19,0);
}