:root{
  --cardcolour: rgb(223, 95, 95);
  --cardtextcolour: rgb(139, 238, 86)
}

.statCard{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 2%;

}

.flip-card {
    flex: auto;
    align-self: flex-end;
    background-color: transparent;
    width: 200px;
    height: 200px;

    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    /* -webkit-backface-visibility: hidden; Safari; */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--cardcolour);
    color: var(--cardtextcolour);
}

/* Style the back side */
.flip-card-back {
    /* background-image: url('../public/yellowcard.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--cardcolour);
    color: var(--cardtextcolour);
    transform: rotateY(180deg);
    backface-visibility: hidden;

  }

  .my-photo{
    width: 200px;
    height: 200px;
  }

  /* .flip-card-ball-bg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
  } */